doctype html
<!--[if lt IE 7 ]><html class="ie6" lang="es" class="no-js" itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if IE 7 ]><html class="ie7" lang="es" class="no-js" itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="es" class="no-js" itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="es" class="no-js" itemscope itemtype="http://schema.org/Organization"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html(lang="es" class="no-js")
	<!--<![endif]-->

	head
		title Template
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
		meta(name="robots" content="noindex")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

		block head

	body
		block content

		block footer